<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang=""
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Index</title>
</head>
<body>
	<div layout:fragment="content">


		<div class="container">
			<div class="card  mb-3 mt-3">
				<div class="card-header bg-info fs-5">Liste des films</div>
				<div class="card-body ">
					<table class="table" aria-describedby="film_table">
						<thead>
							<tr>
								<th>Id</th>
								<th>Titre</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="f:${listfilms}">
								<td th:text="${f.id}"></td>
								<td th:text="${f.title}"></td>
								<td th:text="${f.description}"></td>
								<td><a class="btn btn-primary"
									th:href="@{/ufilm(id=${f.id},page=${currentPage})}">Edit</a></td>
								<td><a class="btn btn-outline-success"
									th:href="@{/sessions(idFilm=${f.id},page=${currentPage})}">Voir
										les sceances</a></td>
								<td><a class="btn btn-danger"
									th:href="@{/dfilm(id=${f.id},page=${currentPage})}">Delete</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer">
					<ul class="nav nav-pills">
						<li th:each="page,status:${pages}"><a
							th:class="${currentPage==status.index}?'btn btn-info ms-1':'btn btn-outline-info ms-1'"
							th:href="@{/films(page=${status.index},idCinema=${idCinema})}"
							th:text="${status.index}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>